@import "tailwindcss";

@font-face {
  font-family: "Neuepower Ultra";
  src: url("/fonts/NeuePower-Ultra.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-gradient-primary-right: linear-gradient(
    to right,
    #8426e2,
    #771fe1,
    #6a16e1,
    #5d0de1,
    #5004e1
  );
  --color-gradient-primary-left: linear-gradient(
    to left,
    #8426e2,
    #771fe1,
    #6a16e1,
    #5d0de1,
    #5004e1
  );
  --background-image-gradient-primary-right: var(
    --color-gradient-primary-right
  );
  --background-image-gradient-primary-left: var(--color-gradient-primary-left);

  --font-neuepower-ultra: "Neuepower Ultra", "Inter", "Arial", sans-serif;
}

.font-neuepower-ultra {
  font-family: var(--font-neuepower-ultra);
}
