@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Neuepower Ultra";
  src: url("/fonts/NeuePower-Ultra.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins Regular";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins Medium";
  src: url("/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins Bold";
  src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins ExtraBold";
  src: url("/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-gradient-primary-right: linear-gradient(
    to right,
    #8426e2,
    #771fe1,
    #6a16e1,
    #5d0de1,
    #5004e1
  );
  --color-gradient-primary-left: linear-gradient(
    to left,
    #8426e2,
    #771fe1,
    #6a16e1,
    #5d0de1,
    #5004e1
  );
  --background-image-gradient-primary-right: var(
    --color-gradient-primary-right
  );
  --background-image-gradient-primary-left: var(--color-gradient-primary-left);

  --font-neuepower-ultra: "Neuepower Ultra", "Inter", "Arial", sans-serif;
  --font-jetbrains-mono: "JetBrains Mono", "Courier New", monospace;
  --font-poppins-regular: "Poppins Regular", "Inter", "Arial", sans-serif;
  --font-poppins-medium: "Poppins Medium", "Inter", "Arial", sans-serif;
  --font-poppins-bold: "Poppins Bold", "Inter", "Arial", sans-serif;
  --font-poppins-extrabold: "Poppins ExtraBold", "Inter", "Arial", sans-serif;
}

.font-poppins-regular {
  font-family: var(--font-poppins-regular);
}

.font-poppins-medium {
  font-family: var(--font-poppins-medium);
}

.font-poppins-bold {
  font-family: var(--font-poppins-bold);
}

.font-poppins-extrabold {
  font-family: var(--font-poppins-extrabold);
}

.font-neuepower-ultra {
  font-family: var(--font-neuepower-ultra);
}

.font-jetbrains-mono {
  font-family: var(--font-jetbrains-mono);
}
